version: "3.8"

services:
  classif-bird-model-service:
    container_name: bird-classification-api
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "${API_PORT:-5000}:5000"
    volumes:
      - ./models:/app/models
      - ./logs:/app/logs
    restart: unless-stopped